.navbar-brand{
  font-size: 1.6em;
}
.navbar{
  font-size: 1.4em;
}
.navbar, h1, h3, h4 {
  font-family: 'Dancing Script', cursive;
}
.banniere{
  background-image: url(../img/banniere.png);
  background-position:right;
  height: 24em;
  border: 1px solid grey;
  box-shadow:0.5em 0.5em 1.5em 1em grey;
}
h1{
  font-size: 6em;
}
h3{
  font-size: 3em;
}
h4{
  font-size: 2em;
  font-weight: bold;
}
.row{
  margin-bottom: 1.5em;
}
.row [class^="col-"]{
  padding: 1em;
}
.container{
  background-color: #49d49d;
  box-shadow: 0.5em 0.5em 1.5em 1em grey;
}
body{
  background-image: url(../img/wallpaper.jpg);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding-top: 4.5em;
}
#experiences, #competences{
  text-align: justify;
  font-size: large;
}
#experiences{
  margin : 0.5em;
}
#formation, #contact{
  font-size: large;
}
ul{
  list-style-type:circle;
}
.progress{
  margin: 1em;
}
.progress-bar{
  background-color: #9f4a54;
}
.icon{
  height: 40px;
  width: 40px;
}
#iconAngular{

}
i{
  font-size: 2.5em;
  color: #2E2E2E;
}
@media screen and (max-width: 800px)
{
  #experiences, #competences{
    text-align: center;
  }
  .name{
    font-size: 0.6em;
    text-align: center;
  }
  .banniere{
    display: none;
    margin-top: 0;
  }
}
